h1{
    
    text-align: center;
    margin-bottom: 150px;
    padding: 50px;
    border: 5px solid cornflowerblue;
    background-color: aqua;
}
body{

    background-image: url(../Module11/images.jpeg);

}