body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0b1220;
    color: #e9eefc;
}
nav{
    margin 10px;
    display: inline-block;
    background-color: white;
    width:100%;
}
nav ul{
    list-style: none;
    text-align: center;
}
nav li{
    display: inline-block;
    margin-left: 15px;
}
nav a{
    display: inline-block;
    padding: 8px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 0.25s;
    color: black;
    padding-right: 100px;
}
nav img{
    width: 65px;
    height: 65px;
    float: left;
}
#backround{
    background-image: url(test2.jpg);
    width: 2000px;
    height: 1000px;
    align-items: center;
    margin-left: 50px;
    margin-top: 100px;
    background-size: 100%;
}

#text{
    color: black;
    padding-top: 20px;
    padding-left: 80px;
    width: 250px;
}
.Gallery{
    margin: 36px;
    float: left;
    width: 450px;
    border: 1px solid black;
}
.Gallery:hover{
    border: 3px solid blue;
}
.Gallery img{    
    width: 100%; 
    height:500px;
} 
.Description{
    padding: 15px;
    text-align:center;
}