body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0b1220;
    color: #e9eefc;
}
nav{
    margin 10px;
    display: inline-block;
    background-color: white;
    width:100%;
}
nav ul{
    list-style: none;
    text-align: center;
}
nav li{
    display: inline-block;
    margin-left: 15px;
}
nav a{
    display: inline-block;
    padding: 8px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 0.25s;
    color: black;
    padding-right: 100px;
}
nav img{
    width: 65px;
    height: 65px;
    float: left;
}