@media(min-width:600px){
    body{
        background-color: black;
        color: white;
    }

    p{
        column-count: 3;
    }
}

@media(max-width:600px){
    img{
        display: none;
    }
}