:root{
    --bg: #8A2BE2;
    --bg-2: #05081c;
    --border: #22304a;

    --text: #e5e7eb;
    --text2: #a3b0c2;
}

body{
    background-color: var(--bg-2);
}
body{
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--bg);
    color: var(--text);
}

#topbar{
    background-color: var(--bg-2);
    text-align: center;
    padding: 15px;
    font-size: 45px;
    border: 2px solid var(--border);
}

#header-container{
    width: 95%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

#brand_name{
    font-size: 20px;
    font-weight: bold;
    color: var(--text);
}

#brand{
    text-decoration: none;
}

#nav_link{
    color: var(--text);
    text-decoration: none;
    padding: 30px;
    font-size: 20px;
    color: var(--border);
    margin-top: ;
}

#nav_link:hover{
    background-color: var(--text2);
    color: var(--bg-2);
    border-radius: 20px;
}
#items{
    font-size: 80px;
    text-align: center;
}
#hero{
    text-align: center;
    padding: 70px 0px;
    background: linear-gradient(180deg, var(--bg), var(--bg-2));
}

#hero_title{
    font-size: 40px;
    margin: 15px;
}

#hero_p{
    font-size: 20px;
    color: var(--text2);
}

#hero_img{
    margin: 0 50px;
}   

#body{
    background-color: var(--bg-2);
}   

#bestsellers-title{
    font-size: 50px;
    color: var(--text);
    text-align: center;
}

#product-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

#product-grid img{
    width: 350px;
    height: 400px;
}

.product-card{
    border: 3px solid var(--border);
    background: #111c33;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.product-card button{
    font-size: 15px;
    padding: 5px 10px;
    color: black;
    background-color: #0ea5e9;
}



.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 30px;
    text-align: center;
    background-color: var(--bg-2);
}

.stat_value{
    font-size: 20px;
    font-weight: bold;
}

.stat_label{
    color: var(--text);
}

.stats{
    border: 1px solid var(--border);
    padding: 20px;
    border-radius: 10px;
    width: 150px;
}

#everything{

    background-color: var(--bg-2);

}

#contactus{
    width: 500px;
    height: 125px;
    background-color: var(--bg-2);
    margin-left: 725px;
    align-items: center;
    text-align: center;
    border: 3px solid var(--border);
    display: inline-block;
}

#number{
    font-size: 20px;
}

#socials{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
}
