.Gallery{
    margin: 10px;
    float: left;
    width: 450px;
    border: 1px solid black;
}
.Gallery:hover{
    border: 3px solid blue;
}
.Gallery img{    
    width: 100%; 
    height:auto;
} 
.Description{
    padding: 15px;
    text-align:center;
}
.sprite{

    background-image: url(Images/image\ \(2\).png);

}

.engenieers{

    display: inline-block;
    width: 500px;
    height: 500px;
    background-position: 0 0;

}

.hipsters{

    display: inline-block;
    width: 500px;
    height: 500px;
    background-position: -500px 0;

}

.shadows{

    display: inline-block;
    width: 500px;
    height: 500px;
    background-position: 0 -500px;

}

.speedsters{

    display: inline-block;
    width: 500px;
    height: 500px;
    background-position: -500px -500px;

}

p[class*="ds"]{
    background-color: blue;
    color: white;
    padding: 20px;
}

div[class~="ds"]{
    background-color: aqua;
    color: white;
    padding: 30px;
}
input[placeholder$="Name"]{
    border: 2px solid red;
}
