.Gallery{
    margin: 10px;
    float: left;
    width: 450px;
    border: 1px solid black;
}
.Gallery:hover{
    border: 3px solid blue;
}
.Gallery img{    
    width: 100%; 
    height:auto;
} 
.Description{
    padding: 15px;
    text-align:center;
}