.dropdown-content{
    display: none;
}

.dropdown:hover .dropdown-content{
    display: block;
    background-color: aqua;
    width: 160px; height: 30px;
    box-shadow: 10px 10px 10px 10px black;
}
.tooltip{
    padding: 19px;
    display: inline-block;
    border: 2px solid black;
    width: 125px;
    height: 17px;
}
.tooltip-list{
    visibility: hidden;
}
.tooltip:hover .tooltip-list{
    visibility: visible;
    width: 100px;
    background-color: black;
    color: white;
    left: 5%;
    top: 130px;
    margin-left: -60px;
    padding: 5px;
    position: absolute;
    text-align: center;
}

#example1{
    width: 229px;
    height: 220px;
    background-image: url(download.jpg);
    border-radius: 50%;
}

#example2{
    width: 229px;
    height: 220px;
    background-image: url(download.jpg);
    border-radius: 40px 30px;
}

#example3{
    width: 229px;
    height: 220px;
    background-image: url(download.jpg);
    border-radius: 10px 50px 80px 40px;
}

#example4{
    width: 229px;
    height: 220px;
    background-image: url(download.jpg);
    border-radius: 100px;
}